header {
  padding: 20px 40px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; 
}

.logo img {
  height: 80px;
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  position: relative; 
  padding-bottom: 5px; 
  transition: color 0.3s ease;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px; 
  bottom: 0;
  left: 0;
  background-color: var(--primary-color); 
  transition: width 0.3s ease-out; 
  border-radius: 2px;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: var(--secondary-color);
}

.btn-login {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--primary-color); 
  color: #1f1f1f; 
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.btn-login svg {
  fill: #1f1f1f; 
  height: 20px;
  width: 20px;
  transition: fill 0.3s ease;
}

.btn-login:hover {
  background: #ffd700; 
}